/* src/assets/styles/InventoryList.css */
.inventory-list-container {
  padding: 20px;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
}

h2 {
  margin-bottom: 20px;
  text-align: center; /* Center the heading */
}

.summary {
  text-align: center; /* Center the summary text */
  margin-bottom: 20px; /* Add margin below summary */

  font-weight: bold; 
}
.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 2; /* Move table to the left */
}
.inventory-list-wrapper {
  width: 100%; /* Adjust the width of the table wrapper */
  max-width: 1150px; /* Limit the maximum width */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  margin-left: 0; /* Align to the left */
  margin-right: auto; /* Center if necessary */
}



.inventory-table th,
.inventory-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.inventory-table th {
  background-color: #f2f2f2;
  color: #333;
}

.inventory-table td {
  vertical-align: top;
  max-width: 150px; /* Adjust max-width for table cells */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  white-space: nowrap; /* Prevent text from wrapping */
}

.item-actions {
  display: flex;
  justify-content: center;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

.edit-icon {
  color: #007bff;
}

.edit-icon:hover {
  color: #0056b3;
}

.delete-icon {
  color: #dc3545;
}

.delete-icon:hover {
  color: #c82333;
}

.no-items {
  text-align: center;
  font-style: italic;
  color: #777;
}

/* Responsive Design */
@media (max-width: 768px) {
  .inventory-table {
    font-size: 14px; /* Adjust font size for smaller screens */
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
  }

  .item-actions {
    flex-direction: column; /* Stack action icons on smaller screens */
    align-items: center; /* Center align icons */
  }
}
